<body id="login">
<div class="login-page">
    <form class="form">
            <h2 class="centre">Login</h2>
            <div class="input-group">
                <input type="text" required>
                <label>Username</label>
            </div>
            <div class="input-group">
                <input type="password" required>
                <label>Password</label>
            </div>
            <button type="submit">Sign In</button>
    </form>
</div>
